
.globtechText{
    background: linear-gradient(246.24deg, #00094D 0%, #000424 100%);

}
.globetechCompany{
    font-weight: 600;
font-size: 34px;
line-height: 54px;
text-align: center;
letter-spacing: 0.15em;
color: #0096C7;
}

.paraText{
    font-weight: 600;
font-size: 15px;
line-height: 18px;
text-align: center;
letter-spacing: 0.15em;
color: #FFFFFF;
}
.loginForm{
    background: #C0CDD3;
    height: 614px;

}
.login{
    width: 478px;
    height: 407px;
    margin-top: 110px;
    margin-left: 220px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.welcomeText2{
    font-size: 32px;
    line-height: 39px;
    letter-spacing: -0.05em;
    color: #212121;
}
.signAccount{
    color: #928B8B;
    margin-top: 40px;
}
.email{
    box-sizing: border-box;
    width: 400px;
    height: 57px;
    margin-top: 20px;
    border: 1px solid #8C8383;
    border-radius: 8px;
}
.password{
    box-sizing: border-box;
    width: 400px;
    height: 57px;
    margin-top: 20px;
    border: 1px solid #8C8383;
    border-radius: 8px;
}
.loginBtn{
    width: 400px;
height: 57px;
margin-top: 20px;
background-color: #0096C7;
border-radius: 8px;
font-weight: 600;
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
}
.eye{
    margin-left: -30px; 
    cursor: pointer;
}
footer{
    font-weight: 400;
    margin-top: 65px;
font-size: 11px;
line-height: 13px;
letter-spacing: 0.15em;
color: #8B8282;
}
.vector1{
    margin-top:320px;
    margin-left: 200px;
}