.boxs{
    width: 473px;
height: 774px;
left: 138px;
top: 537px;

background: #FFFFFF;
border-radius: 29px;
}
.buttons{
    width: 219px;
height: 60px;
left: 265px;
top: 1178px;

background: #2397CD;
border-radius: 25px;
color: #FFFFFF;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 26px;
line-height: 32px;
}