.vector2{
    margin-top: 80px;
    animation: myvector2 4s infinite;
    position: relative;
}
@keyframes myvector2 {
    0%{ left: 0px;} 
    100%{left: 1000px;}
}
.services{
font-size: 36px;
line-height: 59px;
margin-top: 53px;
letter-spacing: 0.15em;

color: #FFFFFF;
}
.clientText{
font-size: 45px;
line-height: 68px;
margin-bottom: 30px;
letter-spacing: 0.15em;

color: #FFFFFF;
}
.cardbox{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.boxs{
    width: 400px;
height: 574px;
margin-left: 20px;
margin-bottom: 40px;
margin-top: 20px;
background: #FFFFFF;
border-radius: 29px;
}
.imgSize{
    width: 300px;
    margin-left: 40px;
    margin-bottom: 20px;
}
.textHead{
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    align-items: center;
    letter-spacing: 0.15em;
    
    color: #2397CD;
}
.textArea{
margin-left: 20px;
}
.buttons{
    width: 219px;
height: 50px;
margin-left: 90px;
margin-top: 16px;
background: #2397CD;
border-radius: 25px;
color: #FFFFFF;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 26px;
line-height: 32px;
}

/* responsive */
    /* For mobile phones: */


    @media only screen and (max-width: 767px) {
        .cardbox{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }

        .boxs{
            width: 350px;
        height: 574px;
        }
        .buttons{
        margin-left: 70px;
        
        }
        @keyframes myvector2 {
            0%{ left: 0px;} 
            100%{left: 130px;}
        }
       
      }

      /* for tablet  */

      @media only screen and (min-width: 768px) and (max-width: 1023px) {
        .cardbox{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        .boxs{
            width: 350px;
        height: 574px;
        margin-left: 20px;
        margin-bottom: 40px;
        margin-top: 20px;
        background: #FFFFFF;
        border-radius: 29px;
        }
        @keyframes myvector2 {
            0%{ left: 0px;} 
            100%{left: 500px;}
        }
       
      }