.ellipse{
    width: 503.15px;
    height: 535px;
    margin-left: 40px;
    margin-top: 80px;
}
.ellipse4{
width: 100px;
height: 100px;
margin-left: 210px;
margin-top: 200px;
background: linear-gradient(265.22deg, #DEF77D 0%, #D0F344 100%);
border-radius: 50%;
}
.ellipse3{
box-sizing: border-box;
width: 250.07px;
height: 250.07px;
margin-left: 140px;
margin-top: -170px;
border: 2px solid #006E8F;
border-radius: 50%;
}
.ellipse2{
    box-sizing: border-box;
width: 350.07px;
height: 350.07px;
margin-left: 90px;
margin-top: -300px;
border: 2px solid #006E8F;
border-radius: 50%;
}
.ellipse1{
    box-sizing: border-box;
width: 450.07px;
height: 450.07px;
margin-left: 40px;
margin-top: -400px;
border: 2px solid #006E8F;
border-radius: 50%;
}


.ellipse10{
    width: 24.78px;
height: 24.78px;
margin-left: 160.4px;
margin-top: -320.6px;
border-radius: 50%;
background: linear-gradient(225deg, #C2F1FF -0.34%, #5CD9FF 100.05%);
animation: mymove10 5s infinite;
position: relative;
}
.ellipse11{
    width: 50px;
    height: 50px;
    margin-left: 160.4px;
    margin-top: 130.6px;
    border-radius: 50%;
    background: linear-gradient(225deg, #C2F1FF -0.34%, #5CD9FF 100.05%);
    animation: mymove11 5s infinite;
position: relative;
    }
.ellipse6{
    width: 30.75px;
height: 30.75px;
margin-left: 415.4px;
margin-top: -80.6px;
border-radius: 50%;
background: linear-gradient(225deg, #C2F1FF -0.34%, #5CD9FF 100.05%);
animation: mymove6 5s infinite;
position: relative;
}
.ellipse9{
    width: 37.78px;
height: 37.8px;
margin-left: 345.4px;
margin-top: -220.6px;
border-radius: 50%;
background: linear-gradient(225deg, #C2F1FF -0.34%, #5CD9FF 100.05%);
animation: mymove9 5s infinite;
position: relative;
}
.ellipse7{
    width: 35.78px;
height: 35.78px;
margin-left: 240.4px;
margin-top: 325.6px;
border-radius: 50%;
background: linear-gradient(225deg, #C2F1FF -0.34%, #5CD9FF 100.05%);
animation: mymove7 5s infinite;
position: relative;
}
.ellipse8{
    width: 45.78px;
height: 45.78px;
margin-left: 200.4px;
margin-top: -480.6px;
border-radius: 50%;
background: linear-gradient(225deg, #C2F1FF -0.34%, #5CD9FF 100.05%);
animation: mymove8 5s infinite;
position: relative;
}

@keyframes mymove10 {
    0%{ left: 0px;}
    50%{left: 180px;}
}
@keyframes mymove11 {
    0%{ top: 0px;}
    0%{ left: 0px;} 
    50%{left: -40px;}
    50%{top: -100px;}
}
@keyframes mymove6 {
    0%{ bottom: 0px;}
    0%{ left: 0px;} 
    50%{left: -70px;}
    50%{bottom: -100px;}
}
@keyframes mymove9 {
    0%{ left: 0px;} 
    0%{ top: 0px;} 
    50%{left: -150px;}
    50%{top: -20px;}
}
@keyframes mymove7 {
    0%{ left: 0px;} 
    0%{ top: 0px;} 
    50%{left: -180px;}
    50%{top: -100px;}
}
@keyframes mymove8 {
    0%{ right: 0px;} 
    0%{ bottom: 0px;} 
    50%{right: -190px;}
    50%{bottom: -50px;}
}
.welcomeText{
    width: 638px;
height: 200px;
margin-left: 108px;
font-weight: 700;
font-size: 82px;
color: #28ACE2;
}

.itService{
    width: 619px;
    margin-left: 108px;
height: 160px;
font-weight: 400;
font-size: 25px;
text-align: justify;
color: #2EBBE5;
}
#bestIt{
    color: #9EB540;
}

.line{
width: 70px;
height: 0px;
margin-left: 108px;
margin-top: 2px;
border: 2px solid #28ACE2;

}
.vectorImg{
    height: 51px;
width: 80px;

}
.vector{

    margin-top: 80px;
    animation: myvector 3s infinite;
    position: relative;
}
@keyframes myvector {
    0%{ right: 0px;} 
    50%{right: -230px;}
}
#globetech{
    color: #D0F344;
}
.supportbtn{
    width: 249px;
    color: #00052F;
    height: 72px;
    font-weight: 700;
    font-size: 26px;
    line-height: 152%;
    margin-left: 108px;
    background: linear-gradient(265.22deg, #DEF77D 0%, #D0F344 100%);
    box-shadow: inset -8px -8px 16px #B6CC63, inset 8px 8px 16px rgba(255, 255, 255, 0.5);
    border-radius: 4px;
}
.missionbtn{
    width: 249px;
    height: 72px;
    border: 2px solid #8FE5FF;
    background: linear-gradient(246.24deg, #00094D 0%, #000424 100%);
    color: #8FE5FF;
    font-weight: 700;
    font-size: 26px;
    line-height: 152%;
    border-radius: 4px;
}
.feature{
    margin-top: 40px;
    margin-left: 108px;
    height: 814px;
    margin-bottom: 40px;
}
/* responsive */
    /* For mobile phones: */


    @media only screen and (max-width: 767px) {
        .feature{
            margin-left:8px;
            
        }

        .welcomeText{
            width: 400px;
        height: 200px;
        margin-left: 8px;
        
     
        }
        
        .itService{
            margin-top: 100px;
            width: 350px;
            margin-left:8px;
            height: 350px;
            
        }
        .supportbtn{
            width: 249px;
            height: 72px;
            margin-left:0px ;
            margin-bottom: 20px;
            
        }

        /* start */
        .ellipse4{
            width: 50px;
            height: 50px;
            
            }
            .ellipse3{
            width: 150.07px;
            height: 150.07px;
            margin-left: 160px;
            margin-top: -100px;
            
            }
            .ellipse2{
            width: 250.07px;
            height: 250.07px;
            margin-left: 110px;
            margin-top: -200px;
           
            }
            .ellipse1{
            width: 350.07px;
            height: 350.07px;
            margin-left: 60px;
            margin-top: -300px;
            
            }
            
            
            .ellipse10{
            margin-left: 160.4px;
            margin-top: -220.6px;
            
            }
            .ellipse11{
                
                margin-left: 190.4px;
                margin-top: 60.6px;
                }
            .ellipse6{
            margin-left: 340.4px;
            margin-top: -80.6px;
            
            }
            .ellipse9{
            margin-left: 305.4px;
            margin-top: -150.6px;
            }
            .ellipse7{
               
            margin-left: 240.4px;
            margin-top: 225.6px;
            
            }
            .ellipse8{
            margin-left: 200.4px;
            margin-top: -380.6px;
           
            }
            
            @keyframes mymove10 {
                0%{ left: 0px;}
                50%{left: 130px;}
            }
            @keyframes mymove11 {
                0%{ top: 0px;}
                0%{ left: 0px;} 
                50%{left: -50px;}
                50%{top: -60px;}
            }
            @keyframes mymove6 {
                0%{ bottom: 0px;}
                0%{ left: 0px;} 
                50%{left: -70px;}
                50%{bottom: -90px;}
            }
            @keyframes mymove9 {
                0%{ left: 0px;} 
                0%{ top: 0px;} 
                50%{left: -130px;}
                50%{top: -20px;}
            }
            @keyframes mymove7 {
                0%{ left: 0px;} 
                0%{ top: 0px;} 
                50%{left: -180px;}
                50%{top: -100px;}
            }
            @keyframes mymove8 {
                0%{ right: 0px;} 
                0%{ bottom: 0px;} 
                50%{right: -170px;}
                50%{bottom: -100px;}
            }


       
        #fullellipse{
         margin-bottom: 300px;
         margin-left: -50px;
        }
        @keyframes myvector {
            0%{ right: 0px;} 
            50%{right: -100px;}
        }
       
      }

      /* for tablet  */

      @media only screen and (min-width: 768px) and (max-width: 1023px) {
        .feature{
            margin-left:8px;
            
        }

        .welcomeText{
            width: 400px;
        height: 200px;
        margin-left: 8px;

        }
        
        .itService{
            margin-top: 100px;
            width: 350px;
            margin-left:8px;
            height: 350px;
            
        }
        .supportbtn{
            width: 249px;
            height: 72px;
            margin-left:0px ;
            margin-bottom: 20px;
            
        }
        .missionbtn{
            margin-bottom: 15px;
        }
        
        #fullellipse{
            margin-bottom: 300px;
        }
        @keyframes myvector {
            0%{ right: 0px;} 
            50%{right: -20px;}
        }
       
      }
       
      